.portfolio-info-wrapper {
  overflow: hidden;
}

.portfolio-line-svg {
  width: 100%;
  height: 2px;
}

.portfolio-image-wrapper {
  gap: 32px;
  border-radius: 12px;
}

.portfolio-image-modal {
  object-fit: contain;
  border-radius: 12px;
}

.portfolio-name {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.portfolio-params-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.portfolio-params {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  gap: 20px;
}

.portfolio-params-card {
  width: 82px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.portfolio-param-name {
  color: rgba(27, 27, 27, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.portfolio-param-value {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.portfolio-lang {
  color: rgba(27, 27, 27, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.portfolio-lang-value {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

.portfolio-lang-value::after {
  margin-top: 20px;
  content: '';
  background-color: rgba(27, 27, 27, 0.2);
  height: 1px;
  display: block;
}

.portfolio-description {
  margin-bottom: 40px;
  color: rgba(27, 27, 27, 0.6);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

@media screen and (min-width: 768px) {
  .portfolio-params-container {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .portfolio-params {
    margin-bottom: 0px;
    gap: 16px;
  }

  .portfolio-calories {
    margin-top: 16px;
  }

  .portfolio-lang-value::after {
    margin-top: 8px;
  }

  .portfolio-name-container {
    margin-top: 0px;
  }

  .portfolio-description {
    margin-bottom: 36px;
    margin-top: 16px;
  }

  .portfolio-info-wrapper {
    overflow: hidden;
  }
}
