<footer class="footer-section">
  <div class="container footer-container">
    <div class="footer-container-wrapper">
      <div class="footer-group">
        <a class="logo-footer link" href="./index.html">about.me</a>
        <ul class="social-list list"></ul>
      </div>

      <div class="footer-credo-container">
        <h2 class="footer-credo">
          Life is like riding a bicycle. To keep your
          <span class="footer-credo-item"> balance</span>, you must keep moving
        </h2>
        <p class="footer-author-credo">/ Albert Einstein /</p>
      </div>
    </div>
    <p class="security-text">Valentyna Alexandrova. All rights reserved.</p>
  </div>
</footer>
