<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-banner">
      <div class="hero-photo-container">
        <img
          class="hero-photo"
          src="./img/my-photo.jpg"
          alt="My photo"
          width="370px"
        />
      </div>

      <ul class="hero-hashtags">
        <li class="hero-hashtags-item">#C/C++ Programmer</li>
        <li class="hero-hashtags-item">#Fullstack Developer</li>
        <li class="hero-hashtags-item">#Scientific Researcher</li>
        <li class="hero-hashtags-item">#Associate Professor</li>
      </ul>
    </div>
    <div class="hero-text">
      <h1 class="hero-title">Valentyna Aleksandrova</h1>
      <h2 class="hero-subtitle">Fullstack Developer</h2>
      <p class="hero-resume">
        After completing my studies at Moscow Physics and Technology Institute,
        I earned a Master's degree in Applied Mathematics and Information
        Technology. Then I worked as a Researcher at the Institute of
        Cybernetics, where I completed my postgraduate studies and obtained a
        Ph.D. (Physics and Mathematics with a specialization in Mathematical
        Modeling). During this time, I was involved in various research projects
        at the IC and NTUU KPI. I also engaged in teaching activities as a
        Senior Lecturer, covering subjects such as Algorithms, Programming
        Languages, and Relational Databases. I obtained the academic rank of
        Associate Professor in Information Technology.
      </p>
      <p class="hero-resume">
        I have extensive experience in developing commercial applications. For
        the past 8 years I have been working as a C++ developer, continuously
        striving to enhance and expand my programming skills. In pursuit of this
        goal, I recently completed a Full Stack Developer course at GoIt, where
        I participated in team-based Web Application Development projects as a
        Team Leader.
      </p>
    </div>
  </div>
</section>
