<section class="section filters-section">
  <div class="container container-filters">
    <div class="filters-buttons">
      <button
        class="filter-button filter-button-active"
        type="submit"
        data-filter="Experience"
      >
        Work Experience
      </button>
      <button class="filter-button" type="submit" data-filter="Education">
        Education
      </button>
      <button class="filter-button" type="submit" data-filter="Certifications">
        Certifications
      </button>
    </div>
    <div class="container-experience">
      <ul class="experience-list list experience-js"></ul>
    </div>
  </div>
</section>
