<section class="section skills-section">
  <div class="container skills-container">
    <div class="skills skills-hard">
      <div class="skills-head">
        <div class="svg-position">
          <div class="skills-icons-container">
            <svg class="skills-svg" width="28" height="28">
              <use href="./img/icons/symbols.svg#icon-weights"></use>
            </svg>
          </div>
        </div>
        <div class="skills-content">
          <h2 class="skills-title">Hard skills</h2>
          <div class="skills-unfold">
            <ul class="skills-list">
              <li>C/C++</li>
              <li>Python</li>
              <li>HTML5/CSS3</li>
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>React/Redux</li>
              <li>Node.js</li>
              <li>OOP/UML</li>
              <li>Git/Git Extensions</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="skills skills-soft">
      <div class="skills-head">
        <div class="svg-position">
          <div class="skills-icons-container">
            <svg class="skills-svg" width="34" height="32">
              <use href="./img/icons/symbols.svg#icon-running-man"></use>
            </svg>
          </div>
        </div>
        <div class="skills-content">
          <h2 class="skills-title">Soft skills</h2>
          <div class="skills-unfold">
            <ul class="skills-list">
              <li>Collaboration and Teamwork</li>
              <li>Good communication</li>
              <li>Creativity and Innovation</li>
              <li>Critical Thinking</li>
              <li>Analytical Skills</li>
              <li>Problem Solving</li>
              <li>Time Management</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="skills skills-lang">
      <div class="skills-head">
        <div class="svg-position">
          <div class="skills-icons-container">
            <svg class="skills-lang-svg" width="34" height="32">
              <use href="./img/icons/symbols.svg#icon-users"></use>
            </svg>
          </div>
        </div>
        <div class="skills-content">
          <h2 class="skills-title">Languages</h2>
          <div class="skills-unfold">
            <ul class="skills-lang-list">
              <li>English (medium)</li>
              <li>Ukrainian (native)</li>
              <li>Russian (fluent)</li>
              <li>Polish (medium)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
